In [1]:
#pip install pymysql

Requirement already satisfied: pymysql in c:\users\inesr\anaconda3\lib\site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd
import numpy as np
import pymysql
from sqlalchemy import create_engine
import getpass

In [3]:
password=getpass.getpass()

········

In [4]:
connection_string= 'mysql+pymysql://root:'+password+'@localhost/bank'

In [5]:
engine=create_engine(connection_string)
query= '''SELECT  DENSE_RANK() OVER(ORDER BY length ASC) as 'rank',length,title
FROM sakila.film
WHERE length IS NOT NULL AND length !=0
ORDER BY length ASC;'''

In [6]:
data=pd.read_sql_query(query, engine)

In [7]:
data.head()

   rank  length                title
0     1      46         ALIEN CENTER
1     1      46            IRON MOON
2     1      46        KWAI HOMEWARD
3     1      46     LABYRINTH LEAGUE
4     1      46  RIDGEMONT SUBMARINE